{% load bootstrap3 %} {% load static%}
<!DOCTYPE html>
<html>

<head>
        <link rel="shortcut icon" type="image/png" href="https://static1.squarespace.com/static/596e55041b631bb072abf784/t/5983596337c58150b473b608/1501177495645/faster-icon-png-0+copy.png?format=300w"
        />
    <meta charset="utf-8"> {% if title %}
    <title> {{title}}</title>
    {% else %}
    <title>WatchApp</title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <!-- <link rel="stylesheet" href="{% static 'css/news.css' %}"> -->
    {% endblock %}

</head>

<body class="">

    {% include "navbar.html" %} {% block content %} {% endblock %} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% bootstrap_javascript %} {% endblock %}
</body>

</html>