{% extends 'base.html' %} {% load staticfiles%} {% load bootstrap3 %}
<!--Styles-->


<!--End of styles-->
<!-- Styles block -->
{% block styles %} {{block.super}}{% endblock %}

<!-- Content block -->
{% block content %} {{block.super}}
<style>
    body{
        background-image: url('/static/images/wall1.jpg');
        background-size: cover;
    }
    .container{

        background-color: black;
        opacity: 0.94;
        /* padding-top: 5%;
        padding-bottom: 5%; */
        border-radius: 20px;
        margin-top: 8%;
        
    }

    .det{
        margin-top: 8%;
        border-radius: 20px;
        margin-left: 20%;
        margin-right: 20%;
        background-color: black;
        padding: 5%;
        opacity: 0.94;

    }
</style>

<body>
    <div class="det">
        <form action="{% url 'createProfile'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form form %}
            <input type="submit" class="btn btn-success btn-md" value="Post">
        </form>
    </div>
{% endblock %}
</body>