 {% extends 'base.html' %} {% load static%}
<!-- Styles block -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/index.css'%}"> {% endblock %} {% block content %}


<section class="col-md-8 col-sm-12">
    <h3 style="text-align:center"> {{est.estate}}</h3>
    {%if postS %} {% for post in posts %}
    <p>
        <span style="color:rgb(81, 185, 25)"> {{post.user}}</span> {{post.message}}
        <span style="color:rgb(81, 185, 25)"> allHoods</span>
    </p>
    {% endfor %} {% else %}
    <p style="text-align:center">No activity Yet</p>
    {% endif %}
</section>


<section class="col-md-4 col-sm-12">
    <h4 style="text-align:justify"> Businesses in {{est.estate}}</h4>
    {% if business %} {% for biz in business %}
    <a href="{% url 'business' biz.id %}">
        <p>{{biz.business_name}}</p>
    </a>
    {% endfor %} {% else %}
    <p>No Business Posted Yet</p>
    {% endif%}
</section>



{% endblock %}