{% extends 'base.html' %} {% load static%} {% load bootstrap3 %}


<!-- Styles block -->
{% block styles %} {{block.super}} {% endblock %}


<!-- Content block -->
{% block content %} {{block.super}}
<style>
    p{
        padding: 5%;
        background-color: black;
        color: white;
        border-radius: 10px;
    }

    .container{
        text-align: center;
    }
</style>
<div class="container">

    <!-- Create Post form -->
    <section class="col-md-5 col-sm-12">
        <div>
            <p>Population : {{details.population}}</p>
            <p>Estate : {{details.neighborhood_name}}</p>
            <p>Estate Number : {{details.id}}</p>
            <p>Existing Estate: {{exists.estate.id}}</p>

            {% if exists.estate.id == details.id %}
            <a href=" {% url 'allHoods' %}">
                <button type="button" name="button" class="btn btn-danger btn-md  pull-right  ">Relocate </button>
            </a>
            {% else %}
            <a href=" {% url 'follow' details.id%}">
                <button type="button" name="button" class="btn btn-primary btn-md  pull-right  ">Move Here</button>
            </a>
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}
<!-- Create Post form -->
<div class="col-md-8 col-lg-8">
    <p>{{details.population}}</p>
    <p>{{details.neighborhood_name}}</p>
</div>