 {% extends 'base.html' %} {% load static%}
<!-- Styles block -->
{% block styles %} {{block.super}} {% endblock %} {% block content %}

<!--Styles-->

<style>
    .container {
        background-color: blue;
        background-attachment: fixed;
        opacity: 0.8;
        text-align: center;
        /* padding: 13%;
        padding-top: 5%;
        padding-left: 5%; */
        color: white;
        border-radius: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 10%;
        font-size: 20px;
    }

    body {
        background-image: url('./static/images/wall.jpg');
    }
</style>

<!--End of styles-->
<body>
    <div class="container">
        <section class="col-md-8 col-sm-12">
            <h3 style="text-align:center"> {{est.estate}}</h3>
            {%if posts %} {% for post in posts %}
            <p>
                <span style="color:rgb(81, 185, 25)"> {{post.user}}</span> {{post.message}}
                <span style="color:rgb(81, 185, 25)"> allHoods</span>
            </p>
            {% endfor %} {% else %}
            <p style="text-align:center">No activity Yet</p>
            {% endif %}
        </section>


        <section class="col-md-4 col-sm-12">
            <h4 style="text-align:center"> Businesses in {{est.estate}}</h4>
            {% if business %} {% for biz in business %}
            <a href="{% url 'business' biz.id %}">
                <p>{{biz.business_name}}</p>
            </a>
            {% endfor %} {% else %}
            <p>No Business Posted Yet</p>
            {% endif%}
        </section>

    </div>

        {% endblock %}
</body>
