 {% load bootstrap3 %} {% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://static1.squarespace.com/static/596e55041b631bb072abf784/t/5983596337c58150b473b608/1501177495645/faster-icon-png-0+copy.png?format=300w" />
    <title>WatchApp | Home</title>
    {% block styles %} {% bootstrap_css %} {% endblock %}

</head>

<!--Styles-->

<style>
    .container{
        background-color: blue;
        text-align: center;
        padding: 15%;
        color: white;
        border-radius: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    body{
        background-color: cornflowerblue;
    }
</style>

<!--End of styles-->



 {% include "navbar.html" %} {% block content %}
<body>
    <div class="container">
        <h1>Welcome To the neighbourhood</h1>
    </div>
    <!--Script files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% bootstrap_javascript %} {% endblock %}
</body>

</html>