<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WatchApp</title>
</head>
<!--STyles-->

<style>
    .container{
        padding: 10%;
        text-align: center;
        background-color: blue;
        border-radius: 12px;
        color: white;
    }
</style>

<!--End of styles-->
<body>
    <div class="container">
        <h1>Welcome to the neighbourhood</h1>
    </div>
</body>
</html>