{% extends 'base.html' %} {% load static%} {% load bootstrap3 %}


<!-- Styles block -->
{% block styles %} {{block.super}}{% endblock %}


<body  style="background-image: url('./static/images/logg.jpg');">
<!-- Content block -->
{% block content %} {{block.super}}
<div class="container">

    <!-- Create Post form -->
    <div class="col-md-8 col-lg-6" style="margin-left: 25%;"> 
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form form %}
            <input type="submit" class="btn btn-success btn-lg-centre" value="Post" >
        </form>
    </div>

</div>

{% endblock %}
</body>